

.uno{

    line-height: 0px;
    letter-spacing: 25px;
}

.dos{

    text-indent: 443px;

}

.tres{

    text-transform: lowercase;

}

.cuatro{

    word-spacing: 200px;

}

.cinco{

}

.notificacion{

    width: 500px;
    height: 100px;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: darkgray;

    display: flex;
    justify-content: center;
    align-items: center;

}

.contenedorNotificacion{

    width: 90%;
    height: 90%;
    display: inline-flex;
    background-color: whitesmoke;
    
    position: relative;
    align-self: center;
    
    gap: 2%;

}

.fotoNotificacion{

    width: 15%;
    height: 100%;
    display: flex;

    align-items: center;

}

.fotoNotificacion img{
    max-height: 100%;
    max-width: 100%;
}

.contenedorTextoNotificacion{
    width: 60%;
    height:100%;
    background-color: rgb(0, 238, 255);
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.nombreNotificacion{

    width: 90%;
    height: 40%;
    max-width: 90%;
    max-height: 40%;
    background-color: whitesmoke;
    display: flex;
    position: absolute;
    top: 10%;
    justify-content: start;
    align-items: center;
    text-indent: 5%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;

}

.descripcionNotificacion{
    width: 90%;
    height: 40%;
    background-color: whitesmoke;
    display: flex;
    position: absolute;
    bottom: 10%;
    justify-content: start;
    align-items: center;
    text-indent: 5%;
    
}

.contenedorFecha{
    width: 12.5%;
    height: 100%;
    background-color: yellow;
    display: inline-block;
    
}

.contenedorOpciones{
    
    width: 12.5%;
    height: 100%;
    background-color: purple;
    display: inline-block;
    
}

