body{
    padding: 0;
    margin: 0;
    border: 1px solid black;;
}

.uno{

    letter-spacing: 25px;
}

.dos{

    text-indent: 443px;

}

.tres{

    text-transform: lowercase;

}

.cuatro{

    word-spacing: 200px;

}

.cinco{

}

.cajaNotificaciones{

    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.notificacion{

    width: 500px;
    height: 100px;
    background-color: #ececec;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-color: darkgray;

    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a


}

.notificacion .contenedorNotificacion{

    width: 90%;
    height: 90%;
    display: flex;
    background-color: ececec;
    
    position: relative;
    align-self: center;
    
    gap: 2%;

}

.notificacion .contenedorNotificacion .fotoNotificacion{

    width: 15%;
    height: 100%;
    display: inline-flex;

    align-items: center;

}

.notificacion .contenedorNotificacion .fotoNotificacion img{
    max-height: 100%;
    max-width: 100%;
}

.contenedorTextoNotificacion{
    
    width: 60%;
    height:90%;
    background-color: #ececec;
    display: flex;
    border-radius: 5%;

    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contenedorTextoNotificacion .nombreNotificacion, .descripcionNotificacion{

    width: 90%;
    max-width: 90%;
    height: 40%;
    background-color: #ececec;

    text-indent: 5%;

    display: flex;
    align-items: center;
    justify-content: start;

}

.nombre, .desc{

    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Open Sans', sans-serif;

}

.nombre{
    font-weight: bold;
}



.contenedorNotificacion .contenedorFecha, .contenedorOpciones{
    width: 12.5%;
    height: 100%;
    background-color: #ececec;
    display: inline-block;

    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Open Sans', sans-serif;
    white-space: nowrap;
    
}

.contenedorOpciones{
    cursor: pointer;
}

